[mysqld]
## General Settings
max_connections = 1000
wait_timeout = 600
interactive_timeout = 600
pxc_strict_mode = PERMISSIVE
max_allowed_packet = 64M
tmp_table_size = 128M
max_heap_table_size = 128M
table_open_cache = 4000
table_definition_cache = 2000
thread_cache_size = 256